backports.weakref==1.0rc1
bleach==1.5.0
certifi==2017.7.27.1
chardet==3.0.4
cryptography==1.7.1
cycler==0.10.0
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
html5lib==0.9999999
idna==2.2
ipaddress==1.0.17
Keras==2.0.8
keyring==10.1
keyrings.alt==1.3
Markdown==2.6.9
matplotlib==2.0.2
mock==2.0.0
nltk==3.2.4
numpy==1.13.1
pandas==0.20.3
pbr==3.1.1
protobuf==3.4.0
pyasn1==0.1.9
pycrypto==2.6.1
pydot==1.2.3
pyenchant==1.6.11
pygobject==3.22.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
pyxdg==0.25
PyYAML==3.12
requests==2.18.4
requests-file==1.4.2
scikit-learn==0.19.0
scipy==0.19.1
SecretStorage==2.3.1
six==1.10.0
sklearn==0.0
subprocess32==3.2.7
tensorflow==1.3.0
tensorflow-tensorboard==0.1.6
tldextract==2.1.0
urllib3==1.22
Werkzeug==0.12.2
